
.timestamp {
  color: rgba(0,0,0,0.54);
}


/* Conversation List */
layer-conversation-list {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.panel-header {
  background-color: #ebebeb;
  box-sizing: border-box;
  border: 1px solid #E4E9EC;
  display: -webkit-flex;
  display: flex;
  min-height: 50px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 8px;
  -webkit-align-items: center;
  align-items: center;
}
.panel-header .title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
}
.panel-header a {
  color: rgba(0,0,0,0.5);
}
.panel-header .icon {
  cursor: pointer;
  font-size: 18px;
  padding: 6px 4px 4px 6px;
  margin-left: 6px;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 6px;
}
.panel-header.conversations-header {
  color: rgb(255, 255, 255);
  padding: 8px 8x 8px 0px;
  background-color: rgb(25, 165, 228);
  text-align: left;
  text-transform: uppercase;
}
.panel-header.conversations-header .title {
  text-align: left;
}
.panel-header.conversation-header .icon {
  color: rgb(25, 165, 228);
  border-color: rgb(25, 165, 228);
}

.conversations-header .logout {
  margin-right: 8px;
}

.edit-title-icon {
  padding: 4px 6px;
  margin-left: 4px;
}
/* For mobile testing:
.left-panel {
  display: none !important;
}*/




.angularjs .right-panel > div,
.angularjs .right-panel > div > div {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

/*
layer-compose-bar layer-menu-button span {
  font-size: 30px;
}
layer-compose-bar .layer-button-panel .layer-replaceable-inner > layer-menu-button {
  margin: 4px 16px 0px 8px;
}
*/